<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!--http服务器参数配置-->
    <add key="debugUrlBase" value="http://localhost:8001/" />
    <add key="productUrlBase" value="http://res.app.local/" />
    <add key="IsDebug" value="false" />
  </appSettings>
</configuration>
